@charset 'UTF-8';

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 웹폰트 : 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.section0 {
	width: 100%;
	padding-top: 70px;
	background-image: url('../image/about/section0_background.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	color: white;
}

.section0-contents {
	/* display: flex - section0 메시지에 대한 정렬 설정 */
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
    justify-content: center;
}

.section0-contents-message {
	padding-top: 15%;
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
    font-weight: bold;
    font-size: 4.7rem;
    line-height: 1.5em;
    text-align: center;
    opacity: 0;
    transform: translateY(20%);
}

.section0-arrow {
	width: 70px;
	opacity: 70%;
	padding-top: 5%;
	opacity: 0;
}

#about-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100% auto;
}

.section1 {
	background-image: url('../image/about/section1_background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.section1-contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15%;
    opacity: 0;
}

.section1-contents-messageBox {
    /* display: flex - 레이아웃 화면 구성 위해 설정 */
    display: flex;
}

.section1-contents-messageTitle {
    font-size: 2.5rem;
    line-height: 1.5em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px rgb(47, 47, 47);
    margin-bottom: 7%;
}

.section1-contents-messageBox {
    width: 70%;
}

.section1-contents-messageBox-style {
    margin-bottom: 8%;
    width: 50%;
}

.section1-contents-messageBox-style p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: rgb(141, 141, 141);
}

.section1-contents-messageBox-style p:nth-child(2) {
    font-size: 3.5rem;
    font-weight: bold;
}

.section1-contents-messageFooter {
	max-width: 1200px;
	margin: 0 auto;
	color: rgb(141, 141, 141);
}

.section2 {
	background-color: black;
	color: white;
	background-image: url('../image/about/section2_background.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

/* test coding */
.section2, .section3 {
	border: 2px solid red;
}