@charset 'UTF-8';

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 웹폰트 : 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --section2-before-opacityValue: 1;
}

.section0 {
	width: 100%;
	padding-top: 70px;
	background-image: url('../image/about/section0_background.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	color: white;
}

.section0-contents {
	/* display: flex - section0 메시지에 대한 정렬 설정 */
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
    justify-content: center;
}

.section0-contents-message {
	padding-top: 15%;
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
    font-weight: bold;
    font-size: 4.7rem;
    line-height: 1.5em;
    text-align: center;
    opacity: 0;
    transform: translateY(20%);
}

.section0-arrow {
	width: 70px;
	opacity: 70%;
	padding-top: 5%;
	opacity: 0;
}

#about-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100% auto;
}

.section1 {
	background-image: url('../image/about/section1_background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.section1-contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15%;
    opacity: 0;
}

.section1-contents-messageBox {
    /* display: flex - 레이아웃 화면 구성 위해 설정 */
    display: flex;
}

.section1-contents-messageTitle {
    font-size: 2.5rem;
    line-height: 1.5em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px rgb(47, 47, 47);
    margin-bottom: 7%;
}

.section1-contents-messageBox {
    width: 70%;
}

.section1-contents-messageBox-style {
    margin-bottom: 8%;
    width: 50%;
}

.section1-contents-messageBox-style p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: rgb(141, 141, 141);
}

.section1-contents-messageBox-style p:nth-child(2) {
    font-size: 3.5rem;
    font-weight: bold;
}

.section1-contents-messageFooter {
	max-width: 1200px;
	margin: 0 auto;
	color: rgb(141, 141, 141);
}

.section2 {
	color: white;
	background-image: url('../image/about/section2_background.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid black;
}

.section2::before {
    /* absolute - 가상공간을 통해 투명도 설정을 위해 */
    position: absolute;
    width: 100%;
    height: 250%;
    background-color: black;
    opacity: var(--section2-before-opacityValue);
    content: ' ';
}

.section2-contents {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    margin:  70% auto;
    text-align: center;
    border-radius: 20px;
    padding: 4%;
}

.section2-contents p:nth-child(1) {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0.8em;
    opacity: 0.6;
}

.section2-contents p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.6em;
}

.section3 {
    border: 1px solid white;
}

.section3-contents-messageTitle {
    margin-top: 8%;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.section3-contents-subMessageTitle {
    margin: 1.5em 0;
    color: rgb(89, 89, 89);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.section3-contents-messageBox {
    /* display: flex - 데이터의 정렬을 변화시키기 위해 */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.section3-contents-messageBox-style {
    margin-top: 4%;
    width: 40%;
    border-radius: 20px;
}

.section3-box0 {
    background-image: url('../image/about/section3_box0.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-box1 {
    background-image: url('../image/about/section3_box1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-box2 {
    background-image: url('../image/about/section3_box2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-box3 {
    background-image: url('../image/about/section3_box3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section3-contents-messageBox-style p:nth-child(1) {
    font-weight: bold;
    font-size: 1.5rem;
    color: rbg(51, 58, 68);
    margin: 8% 0% 3% 8%;
    text-shadow: 0.5px 0.5px 1px white;
}

.section3-contents-messageBox-style p:nth-child(2) {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(17, 21, 26);
    margin: 0% 8%;
    line-height: 1.5em;
    text-shadow: 0.5px 0.5px 1px white;
}

/* test coding */
.section4 {
	border: 2px solid red;
}