@charset 'UTF-8';

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 웹폰트 : 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section {
    padding-top: 140px;
    min-height: 80vh;
}

.section-title {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2.1rem;
    font-weight: bold;
    color: rgb(53, 53, 53);
    padding-bottom: 1.5em;
}

.section-contents {
    max-width: 1200px;
    margin: 0 auto;
}

/*
.section-contents div {
    border: solid 1px pink;
}
*/

.qa {
    margin-bottom: 0.5%;
}

.question {
    font-size: 1.6rem;
    padding: 0.5rem;
    background-color: rgb(246, 152, 141);
}

.question ::before {
    content: '+ ';
}

.answer {
    font-size: 1.1rem;
    line-height: 1.5em;
    padding: 0.7rem;
    background-color: rgb(231, 231, 231);
}

#fqa-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100% auto;
    background-color: white;
}

#fqa-nav div > a {
	color: rgb(91, 90, 90);
    text-shadow: none;
}

/* test */
article {
    border: solid 1px red;
}