@charset 'UTF-8';

/* 웹폰트 : 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 14px;
	font-family: 'NanumSquareNeo-Variable';
}

body {
	height: 4000px;
	overflow-x: hidden; 	/* 수평 스크롤 제거 */
	letter-spacing: -0.04rem;
}

nav {
	/* absolute - 스크롤시 자연스럽게 넘어갈 수 있도록 함 */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
}

nav a {
	text-decoration: none;
	color: rgb(235, 235, 235);
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
}

video {
	/* absolute - 가장뒤에 비디오 위치 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 1920;
	height: 1080;
}

.home-icon {
	width: 30px;
	height: 30px;
}

.global-nav-links {
	/* flex - nav안에 있는 link 정렬*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5px 0 5px;
	height: 100%;
}

.global-nav-link {
	font-size: 1.1rem;
	font-weight: bold;
}

.global-nav-home-label {
	/* flex - 라벨로 묶여있는 이미지와 링크의 정렬 관리 */
	display: flex;
	align-items: center;
}

.global-nav-home-label a {
	font-size: 2.3rem;
	font-weight: bold;
	padding-left: 5px;
	color: rgb(235, 235, 235);
}

.section0 {
	width: 100%;
	padding-top: 70px;
}

.section0-contents {
	/* flex - section0 내부 레이아웃 설정 */
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.section0-contents img {
	width: 400px;
	height: 400px;
	opacity: 0;
}

.section0-contents-message0 {
	color: rgb(235, 235, 235);
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 1.5em;
	margin-top: -1em;
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
	opacity: 0;
}

.section0-contents-message1 {
    color: rgb(235, 97, 82);
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgb(47, 47, 47);
    opacity: 0;
}

.section1-title, .section2-title {
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;
	border-bottom: 1px solid lightgray;
}


/* 테스트코딩 */
.section1, .section2 {
    width: 100%;
    background-color: white;
}

.section1-contents, .section2-contents {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

section {
	border: 1px solid salmon;
}