@charset 'UTF-8';

/* 웹폰트 : 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 14px;
	font-family: 'NanumSquareNeo-Variable';
}

body {
	height: 4000px;
	overflow-x: hidden; 	/* 수평 스크롤 제거 */
	letter-spacing: -0.04rem;
}

nav {
	/* absolute - 스크롤시 자연스럽게 넘어갈 수 있도록 함 */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
}

nav a {
	text-decoration: none;
	color: black;
}

section {
	border: 1px solid salmon;
}

.home-icon {
	width: 30px;
	height: 30px;
}

.global-nav-links {
	/* flex - nav안에 있는 link 정렬*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5px 0 5px;
	height: 100%;
	border: 1px solid salmon;
}

.global-nav-link {
	font-size: 1.05rem;
	font-weight: bold;
}

.global-nav-home-label {
	/* flex - 라벨로 묶여있는 이미지와 링크의 정렬 관리 */
	display: flex;
	align-items: center;
}

.global-nav-home-label a {
	font-size: 2.3rem;
	font-weight: bold;
	padding-left: 5px;
}

.section0 {
	width: 100%;
	padding-top: 70px;
}

.section1-title, .section2-title {
	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;
	border-bottom: 1px solid salmon;
}

.section0-contents {
	/* flex - section0 내부 레이아웃 설정 */
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}


/* 테스트코딩 */
.section1, .section2 {
    width: 100%;
}

.section1-contents, .section2-contents {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}