@charset 'UTF-8';

/* 웹폰트 : 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 웹폰트 : 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 14px;
	font-family: 'NanumSquareNeo-Variable';
}

body {
	height: 4000px;
	overflow-x: hidden; 	/* 수평 스크롤 제거 */
	letter-spacing: -0.04rem;
}

nav {
	/* absolute - 스크롤시 자연스럽게 넘어갈 수 있도록 함 */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 70px;
}

nav a {
	text-decoration: none;
	color: rgb(235, 235, 235);
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
}

video {
	/* absolute - 가장뒤에 비디오 위치 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
	width: 1920;
	height: 1080;
}

footer {
	padding: 3em;
	background-color: rgb(10, 37, 73);
}

footer h3 {
	color: white;
	padding: 1em 0;
}

footer p {
	color: white;
	padding: 0.5em 0;
}

.home-icon {
	width: 30px;
	height: 30px;
}

.global-nav-links {
	/* flex - nav안에 있는 link 정렬*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5px 0 5px;
	height: 100%;
}

.global-nav-link {
	font-size: 1.1rem;
	font-weight: bold;
}

.global-nav-home-label {
	/* flex - 라벨로 묶여있는 이미지와 링크의 정렬 관리 */
	display: flex;
	align-items: center;
}

.global-nav-home-label a {
	font-size: 2.3rem;
	font-weight: bold;
	padding-left: 5px;
	color: rgb(235, 235, 235);
}

.section0 {
	width: 100%;
	padding-top: 70px;
}

.section0-contents {
	/* flex - section0 내부 레이아웃 설정 */
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

.section0-contents img {
	width: 400px;
	height: 400px;
	opacity: 0;
}

.section0-contents-message0 {
	color: rgb(235, 235, 235);
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 1.5em;
	margin-top: -1em;
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
	opacity: 0;
}

.section0-contents-message1 {
    color: rgb(235, 97, 82);
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgb(47, 47, 47);
    opacity: 0;
}

.section1-title{
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 5px 5px 10px;
	font-family: 'GangwonEduPowerExtraBoldA';
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgb(47, 47, 47);
}

.section1 {
	background: linear-gradient(rgb(235, 97, 82) 0% 40%, rgb(248, 248, 248) 40% 100%);
}

.section1-contents-img {
	/* fixed - section1 스크롤시 고정상태 유지 */
	position: fixed;
	bottom: 5%;
	margin: 0 auto;
	display: none;
	/* 이미지 가운데 정렬 - 시작점(50%) + x위치(-50%) */
	left: 50%;
	transform: translateX(-50%);
}

.section1-contents-messages {
	padding: 1.2em;
	display: none;
	opacity: 0;
}

.section1-contents-messages h1 {
	font-size: 1.8rem;
	margin-bottom: 0.3em;
}

.section1-contents-messages p {
	font-size: 1.3rem;
	margin-bottom: 1.2em;
	line-height: 1.3em;
}

.section1-contents-message0 {
    position: fixed;
    left: 10%;
    top: 30%;
}

.section1-contents-message1 {
    position: fixed;
    right: 8%;
    top: 30%;
}

.section1-contents-message2 {
    position: fixed;
    left: 10%;
    top: 60%;
}

.section1-contents-message3 {
    position: fixed;
    right: 8%;
    top: 60%;
}

.section2 {
    width: 100%;
    background-color: white;
}

.section2-title {
    max-width: 1200px;
    padding: 30px 5px 5px 10px;
    margin: 0 auto;
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 3rem;
}

.section2-contents {
	/* flex - contents의 방향을 가로로 설정 */
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1200px;
	height: 100%;
	margin: auto;
}

.section2-content0, .section2-content1, .section2-content2 {
	margin: 0 3em;
	padding: 1.5em;
	background-color: lightgray;
	opacity: 0;
}

.section2-contents img {
	width: 100%;
}

.section2-contents h1 {
	font-size: 1.6rem;
	margin-bottom: 0.8em;
}

.section2-contents p {
    font-size: 1.2rem;
    line-height: 2em;
    white-space: normal;
}

.footer-icon {
	width: 40px;
	height: 40px;
}


.fix-title1 .section1-title, .fix-title2 .section2-title
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 5;
}

#current-section1 .section1-contents-img, #current-section1 .section1-contents-messages {
	/* display: block - 특정 section에 도달했을 경우 none을 block으로 함으로 화면에 표시*/
    display: block;
}