@charset "UTF-8";

/* 웹폰트 : 나눔스퀘어 네오, 강원교육튼튼체 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 14px;
	font-family: 'NanumSquareNeo-Variable';
}

body {
	height: 4000px;
	overflow-x: hidden;		/* 수평 스크롤 제거 */
	letter-spacing: -0.05rem;
}

nav {
	/* absolute - 상단에 위치 */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}

nav a {
	text-decoration: none;
	color: rgb(235, 235, 235);
	text-shadow: 1px 1px 2px rgb(47, 47, 47);
}

.home-icon {
	width: 30px;
	height: 30px;
}

.global-nav-links {
	/* flex - nav안에 있는 link 정렬 */
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	height: 100%;
	padding: 0 5px 0 5px;
	margin: 0 auto;
}

.global-nav-home-label {
	/* flex - 라벨로 묶여있는 이미지와 링크의 정렬 관리 */
	display: flex;
	align-items: center;
}

.global-nav-link {
	font-size: 1.05rem;
	font-weight: bold;
}

.global-nav-home-label a {
	color: rgb(235, 235, 235);
	font-wieght: bold;
	font-size: 2.3rem;
	padding-left: 5px;
}